<a href="https://colab.research.google.com/github/Vaibhav33/python_workshop/blob/main/Copy_of_python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers={1,2,3,4}
print(numbers)

{1, 2, 3, 4}

In [ ]:
a=set(('ece','cse','ise'))
print(a)

{'ise', 'cse', 'ece'}

In [ ]:
a.add('mech')
print(a)
print(len(a))
a.add("cse")
print(len(a))
print(a)

{'ise', 'cse', 'mech', 'ece'}
4
4
{'ise', 'cse', 'mech', 'ece'}

In [ ]:
a.remove('mech')
print(a)

{'ise', 'cse', 'ece'}

In [ ]:
a.discard('mech')
print(a)

{'ise', 'cse', 'ece'}

In [ ]:
a=set(('ece','cse','ise','mech'))
deleted=a.pop()
print(deleted)
print(a)

ise
{'cse', 'mech', 'ece'}

In [ ]:
thisset={"apple","banana","cherry"}
thisset.clear()
print(thisset)
print(len(thisset))

set()
0

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'c', 'b', 1, 2, 'a', 3}

In [ ]:
thisset={"apple","banana","cherry"}
mylist=["kiwi","orange"]
thisset.update(mylist)
print(thisset)

{'apple', 'orange', 'kiwi', 'banana', 'cherry'}

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)
set4=[6,7,5,4]
set3.update(set4)
print(set3)

{'c', 'b', 1, 2, 'a', 3}
{'c', 1, 2, 3, 5, 6, 7, 4, 'a', 'b'}

In [ ]:
a=[1,2,3,4,1,2]
s=set(a)
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
fruits={"apple","orange","banana"}
fruits.add("cherry")
print(fruits)

{'banana', 'apple', 'cherry', 'orange'}

In [ ]:
fruits={"apple","banana","cherry"}
more_fruits=["orange","mango","grapes"]
fruits.update(more_fruits)
print(fruits)
fruits=fruits.union(more_fruits)
print(fruits)

{'apple', 'grapes', 'orange', 'mango', 'banana', 'cherry'}
{'banana', 'apple', 'grapes', 'orange', 'mango', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

In [ ]:
a=[1,2,1,2,3]
print(len(set(a)))

3

In [ ]:
today={
    "day":"thursday",
    "date":"7/01/2021",
    "month":"january"
}
print(today)

{'day': 'thursday', 'date': '7/01/2021', 'month': 'january'}

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
    "year":2020,
    "model":"GT",
}
print(thisdict)
x=thisdict["model"]
print(x)
print(len(thisdict))

{'brand': 'Ford', 'model': 'GT', 'year': 2020}
GT
3

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
print(thisdict)
x=thisdict.keys()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
dict_keys(['brand', 'model', 'year'])

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
x=thisdict.values()
thisdict["year"]=2021
print(x)
print(len(thisdict))

dict_values(['Ford', 'Mustang', 2021])
3

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
thisdict["year"]=2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
thisdict.update({"year":2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
thisdict["color"]="red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
thisdict.update({"color":"red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
car={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
car.get("model")

'Mustang'

In [ ]:
car={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
car["year"]=2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
car={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
}
del car["model"]
print(car)

{'brand': 'Ford', 'year': 1964}

In [ ]:
a=33
b=200
if b>a:
  print("b is greater than a")
elif a==b:
   print("a and b are equal")

b is greater than a

In [ ]:
a=33
b=33
if b>a:
  print("b is greater than a")
elif a==b:
   print("a and b are equal")
else:
  print("a is greater than b")

a and b are equal

In [ ]:
a=50
b=10
if a>b:
  print("Hello World")

Hello World

In [ ]:
a=int(input("Enter the first No:\n"))
b=int(input("Enter the second No:\n"))
c=int(input("Enter the third No:\n"))
if b>a and b>c:
  print("b is greater")
elif c>b and c>a:
  print("C is greater")
else:
  print("a is greater")
if a==b :
    print("a nd b are equal")
elif b==c:
  print("b an c are equal")
elif a==c:
  print("a and c are equal")
elif a==b and b==c and a==c:
  print(" a,b and c are equal")

Enter the first No:
1
Enter the second No:
2
Enter the third No:
1
b is greater
a and c are equal

In [ ]:
a=int(input("Enter the first No:\n"))
b=int(input("Enter the second No:\n"))
c=int(input("Enter the third No:\n"))
if a>b:
  print("a is greater")
elif b>c:
  print("b is greater")
else:
  print("c is greater")

Enter the first No:
1
Enter the second No:
2
Enter the third No:
3
c is greater

In [ ]:
i=1
while i<6:
    print(i)
    if i==3:
      break
    i+=1

1
2
3

In [ ]:
n=int(input("Enter the number"))
i=0
while i<=n:
  print(i)
  if i==n:
      break
  i+=1
  sum=i+1
  print("The sum is", +sum)

Enter the number5
0
The sum is 2
1
The sum is 3
2
The sum is 4
3
The sum is 5
4
The sum is 6
5

In [ ]:
fruits=["apple","banan","cherry"]
for x in fruits:
  print(x)

apple
banan
cherry

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)
  if x=="banana":
    break

apple
banana

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#list using append

In [ ]:
odd=[]
even=[]
n=8
for i in range (1,n+1):
  if(i%2 ==1):
    odd.append(i)
  else:
      even.append(i)
print(odd)
print(even)

[1, 3, 5, 7]
[2, 4, 6, 8]

In [ ]:
n=20
List=[]
for x in range(0,n+1, 1):
  List.append(x)
print(List)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#list using apend

In [ ]:
even=[]
n=10
for i in range (0,n+1):
  if(i%2 ==0):
    even.append(i)
print(even)

[0, 2, 4, 6, 8, 10]

In [ ]:
evenList=[i for i in range(1,21) if i%2==0]
print(evenList)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
oddList=[i*i for i in range(1,21,2) ]
print(oddList)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
if -1:
  print("Hello")
else:
  print("Bye")

Hello

#Prime Numbers

In [ ]:
lst=[]
for i in range(2,21):
    isPrime=True
    for j in range(2,i):
      if i%j==0:
        isPrime=False
    if isPrime: 
        lst.append(i)
print(lst)

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
primelist =[i for i in range(2,21)
             if all(i%j!=0 for j in range(2,i))]
print(primelist)

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
square= [i*i for i in range(1,26,1) if i*i<26]
print(square)

[1, 4, 9, 16, 25]

In [ ]:
 def my_fun(a,b):
  print(a,b)
my_fun("jack","jill")

jack jill

In [ ]:
 def my_fun(a,b="jill"):
  print(a,b)
my_fun("jack")

jack jill

In [ ]:
#lst=["vaibhav","prinson","varshith"]
Name=input()
physics=int(input("Enter The Number"))
chemistry=int(input("Enter the Number"))
print(chemistry,physics)
marks=chemistry+physics
print(Name)
print("Total marks is", +marks)

Vaibhav
Enter The Number98
Enter the Number99
99 98
Vaibhav
Total marks is 197

In [ ]:
Name=input()
physics=int(input("Enter The Number"))
chemistry=int(input("Enter the Number"))
print(chemistry,physics)
marks=chemistry+physics
print(Name)
print("Total marks is", +marks)

Prinson
Enter The Number56
Enter the Number66
66 56
Prinson
Total marks is 122

In [ ]:
Name=input()
physics=int(input("Enter The Number"))
chemistry=int(input("Enter the Number"))
print(chemistry,physics)
marks=chemistry+physics
print(Name)
print("Total marks is", +marks)

Varshith
Enter The Number95
Enter the Number98
98 95
Varshith
Total marks is 193

In [ ]:
def myfun(a,b):
  print("Your name is" +a)
  print("Your marks is" +b)
myfun(" Vaibhav"," 10")

Your name is Vaibhav
Your marks is 10